// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #CCC;
  font-family: Arial;
  text-align: justify;
}

nav {
  background-color: rgb(37, 37, 37);
  width: 100%;
  height: 50px;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  
  h1 {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    cursor: pointer;
    height: 30px;
    width: 130px;
    text-decoration: none;
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      color: white;
    }
    &:hover {
      background-color: rgb(150, 150, 150);
      color: black;
    }
  }

}

.fecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  p {
    height: 30px;
    padding: 15px;
    background-color: rgb(37, 37, 37);
    width: fit-content;
    margin: 0;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.container {
  margin-left: 50px;
}